$font:'Poppins', sans-serif;
.container{
    max-width: 1170px;
    margin: 0 auto;
}
body{
    font-family: $font;
}

.header{
    width: 100%;
    position: fixed;
    padding: 50px 0 0;
    background-color: $bg-grey;
    &-wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__menu-btn{
        display: none;
    }
    &__navigation{
        width: 32%;
    }
    &__navigation__list{
        display: flex;
        justify-content: space-between;

    }
    &__navigation__link{
        color: $black;
        font-size: 14px;
        &:hover{
            color: $text-grey;
        }
    }
}
.hero{
    background-color: $bg-grey;
    padding-top: 150px;
    &-wrap{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    h1{
        font-weight: 600;
        font-size: 44px;
    }
    &__text{
        margin-top: 33px;
        font-size: 14px;
    }
}
.services{
    padding: 80px 0;
    &-wrap{
        display: flex;
        justify-content: space-between;
    }
    .service{
        width: calc(33% - 65px);
        margin-right: 65px;
        &__title{
            margin-top: 30px;
            font-size: 24px;
            font-weight: 600;
            text-transform: uppercase;
        }
        &__text{
            margin-top: 21px;
            font-size: 14px;
        }
    }
}
@media only screen and (max-width: 992px)  {
    .container{
        max-width: 750px;
    }
    .header{
        &__navigation{
            width: 50%;
        }
    } 
}
@media only screen and (max-width: 767px)  {
    .container{
        max-width: none;
        padding: 0 20px;
    }
    .header{
        &__menu-btn{
            display: block;
            width: 30px;
	        height: 30px;
	        position: relative;
	        z-index:2;
	        overflow: hidden;
            span{
                width: 30px;
	            height: 2px;
	            position: absolute;
	            top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: #222222;
                transition: all 0.5s;
            }
            span:nth-of-type(2) {
                top: calc(50% - 5px);
            }
            span:nth-of-type(3) {
                top: calc(50% + 5px);
            }
        }
        &__navigation{
            display: none;
        }
    }
    .hero{
        &-wrap{
            flex-direction: column-reverse;
           img{
            width: 200px;
            border-radius: 50%;
        } 
        }
        h1, &__text{
            text-align: center;
        }
        &-info{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }  
    }
    .services{
        &-wrap{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .service{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-bottom: 20px;
        }
}
}
