@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}
.flex-3 {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1200px) {
  .flex-3 {
    justify-content: space-around;
  }
}
@media screen and (max-width: 670px) {
  .flex-3 {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}
@media screen and (max-width: 520px) {
  .flex-3 {
    margin: 100px;
  }
}
@media screen and (max-width: 400px) {
  .flex-3 {
    margin: 40px;
  }
}

@media screen and (max-width: 670px) {
  .clients {
    margin: 30px;
  }
}

.padding-3 {
  padding-top: 50px;
  padding-bottom: 115px;
}
@media screen and (max-width: 520px) {
  .padding-3 {
    padding-bottom: 0px;
    padding-top: 0px;
  }
}

.background-grey-3 {
  background: #f6f6f6;
}

.text-aline {
  text-align: center;
}

.padding-3-text {
  padding-top: 112px;
  padding-bottom: 30px;
}

.text-orange {
  color: #f8c212;
}

.input-text {
  width: 295px;
  height: 60px;
  background: #fff;
  color: #bbbbbb;
  border: none;
  outline: none;
}
.input-text-large {
  width: 950px;
  height: 150px;
  border: none;
  outline: none;
}
@media screen and (max-width: 1080px) {
  .input-text-large {
    width: 500px;
  }
}
@media screen and (max-width: 620px) {
  .input-text-large {
    width: 295px;
  }
}

.text-3-bolt {
  font-family: "Poppins";
  font-size: 36px;
  letter-spacing: 3px;
  font-weight: bold;
  text-transform: uppercase;
}

.text-3-description {
  font-family: "Poppins";
  color: #9f9f9f;
}

.flex-3-center {
  display: flex;
  justify-content: center;
}

input {
  padding: 0 20px;
}
input::-moz-placeholder {
  color: #bbbbbb;
}
input:-ms-input-placeholder {
  color: #bbbbbb;
}
input::placeholder {
  color: #bbbbbb;
}
input:nth-child(4) {
  padding-bottom: 90px;
}

.margin-3 {
  margin: 0px 15px;
  color: #bbbbbb;
}

.btn-3 {
  width: 470px;
  height: 60px;
  background: #ffae00;
  border: none;
  color: #fff;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  letter-spacing: 5px;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.btn-3:hover {
  cursor: pointer;
}
@media screen and (max-width: 1080px) {
  .btn-3 {
    margin-top: 100px;
  }
}
@media screen and (max-width: 550px) {
  .btn-3 {
    width: 295px;
  }
}

.form {
  display: grid;
  height: 370px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 60px 160px 60px;
  grid-row-gap: 35px;
  grid-column-gap: 30px;
  grid-template-areas: "grid-1 grid-2 grid-3" "grid-4 grid-4 grid-4" "grid-5 grid-5 grid-5";
}
@media screen and (max-width: 1080px) {
  .form {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px 60px 60px 60px;
    grid-template-areas: "grid-1 grid-2 grid-2" "grid-3 grid-3 grid-3" "grid-4 grid-4 grid-4" "grid-5 grid-5 grid-5";
  }
}
@media screen and (max-width: 620px) {
  .form {
    grid-template-columns: 1fr;
    grid-template-areas: "grid-1 grid-1 grid-1" "grid-2 grid-2 grid-2" "grid-3 grid-3 grid-3" "grid-4 grid-4 grid-4" "grid-5 grid-5 grid-5";
  }
}

.grid-1 {
  grid-area: grid-1;
}
@media screen and (max-width: 620px) {
  .grid-1 {
    align-self: center;
    justify-self: center;
  }
}

.grid-2 {
  grid-area: grid-2;
}
@media screen and (max-width: 620px) {
  .grid-2 {
    align-self: center;
    justify-self: center;
  }
}

.grid-3 {
  grid-area: grid-3;
}
@media screen and (max-width: 1080px) {
  .grid-3 {
    align-self: center;
    justify-self: center;
  }
}

.grid-4 {
  grid-area: grid-4;
}
@media screen and (max-width: 1080px) {
  .grid-4 {
    margin-top: 85px;
    align-self: center;
    justify-self: center;
  }
}

.grid-5 {
  grid-area: grid-5;
}

.form-main {
  display: flex;
  justify-content: center;
  padding-bottom: 175px;
}
@media screen and (max-width: 620px) {
  .form-main {
    padding-bottom: 200px;
  }
}

.padding-3-bottom {
  padding-bottom: 30px;
}

.dark-color {
  background: #1e1e1e;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1200px) {
  .footer-flex {
    justify-content: space-around;
  }
}
@media screen and (max-width: 480px) {
  .footer-flex {
    display: block;
    text-align: center;
  }
}

.text-footer {
  font-family: "Poppins";
  font-size: 12px;
  padding: 35px 0px;
  color: #fff;
}

.social-links {
  margin: 35px 10px;
}

body {
  font-family: "Poppins", sans-serif;
}

.header {
  width: 100%;
  position: fixed;
  padding: 50px 0 0;
  background-color: #f1f1f1;
}
.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu-btn {
  display: none;
}
.header__navigation {
  width: 32%;
}
.header__navigation__list {
  display: flex;
  justify-content: space-between;
}
.header__navigation__link {
  color: #000;
  font-size: 14px;
}
.header__navigation__link:hover {
  color: #5c5c5c;
}

.hero {
  background-color: #f1f1f1;
  padding-top: 150px;
}
.hero-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero h1 {
  font-weight: 600;
  font-size: 44px;
}
.hero__text {
  margin-top: 33px;
  font-size: 14px;
}

.services {
  padding: 80px 0;
}
.services-wrap {
  display: flex;
  justify-content: space-between;
}
.services .service {
  width: calc(33% - 65px);
  margin-right: 65px;
}
.services .service__title {
  margin-top: 30px;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}
.services .service__text {
  margin-top: 21px;
  font-size: 14px;
}

@media only screen and (max-width: 992px) {
  .container {
    max-width: 750px;
  }
  .header__navigation {
    width: 50%;
  }
}
@media only screen and (max-width: 767px) {
  .container {
    max-width: none;
    padding: 0 20px;
  }
  .header__menu-btn {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 2;
    overflow: hidden;
  }
  .header__menu-btn span {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #222222;
    transition: all 0.5s;
  }
  .header__menu-btn span:nth-of-type(2) {
    top: calc(50% - 5px);
  }
  .header__menu-btn span:nth-of-type(3) {
    top: calc(50% + 5px);
  }
  .header__navigation {
    display: none;
  }
  .hero-wrap {
    flex-direction: column-reverse;
  }
  .hero-wrap img {
    width: 200px;
    border-radius: 50%;
  }
  .hero h1, .hero__text {
    text-align: center;
  }
  .hero-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .services-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .services .service {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
  }
}
  
  .font1 {
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    font-weight: 700;
    font-family: "Open Sans";
  }
  
  .font2 {
    font-size: 14px;
    line-height: 28px;
    color: #666666;
    font-weight: 400;
    font-family: "Open Sans";
  }
  
  .font3 {
    text-transform: uppercase;
    font-size: 38px;
    line-height: 30px;
    color: #000000;
    font-weight: 600;
    font-family: "Poppins";
    text-align: center;
    background-color: transparent;
  }
  
  .font4 {
    font-size: 18px;
    line-height: 32px;
    color: #252525;
    font-weight: 400;
    font-family: "Poppins";
    text-align: center;
  }
  
  .font5 {
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    font-weight: 600;
    font-family: "Poppins";
    text-align: center;
  }
  
  .font6 {
    font-size: 12px;
    line-height: 24px;
    color: #999999;
    font-weight: 400;
    font-family: "Poppins";
    text-align: center;
  }
  
  .flex {
    display: flex;
  }
  
  .flex h4 {
    margin-top: 50px;
    margin-left: 26px;
  }
  
  .flex p {
    max-width: 349px;
    margin-right: 70px;
    margin-left: 26px;
    margin-top: 26px;
  }
  
  .rectangle {
    margin-top: 50px;
  }
  
  .intoduction {
    display: flex;
    margin-top: 226px;
    justify-content: center;
  }
  
  .orange {
    color: #ffae00;
  }
  
  .intoduction h2 {
    font-size: 36px;
    letter-spacing: 2px;
    line-height: 50px;
    color: #000000;
    font-weight: 600;
    font-family: "Poppins";
  }
  
  .intoduction h4 {
    font-size: 18px;
  }
  
  .photo {
    padding-top: 136px;
    display: block;
    margin: 0 auto;
  }
  
  .photo-block {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
  
  .stars {
    margin-top: 87px;
    padding-bottom: 25px;
  }
  
  .circle {
    margin-top: 33px;
    padding-bottom: 19px;
  }
  
  .photo-block img {
    width: 33%;
  }
  
  .testimonials {
    max-width: 804px;
    margin: 0 auto;
    margin-top: 162px;
  }
  
  .background {
    background-image: url(../../../img/“.png);
    height: 105px;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .background h2 {
    padding-top: 34px;
  }
  
  .testimonials img {
    margin-left: 46%;
  }
  
  .testimonials h5 {
    margin-top: 13px;
  }
  
  @media screen and (max-width: 1200px) {
    .intoduction {
      padding-left: 20px;
    }
  }
  @media screen and (max-width: 1050px) {
    .team-photo {
      display: none;
    }
  }
  @media screen and (max-width: 650px) {
    .photo {
      display: none;
    }
    .testimonials p {
      padding-left: 10px;
      padding-right: 10px;
    }
    .intoduction, .testimonials {
      margin-top: 50px;
    }
}
/*# sourceMappingURL=index.css.map */